{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="/posts/create" class="btn btn-primary pull-right">Cria Post</a>
        <div class="col-md-12">
            {% include 'includes/messages.html.twig' %}
        </div>
        <div class="col-md-12>
            {% for p in posts %}
                <div class="posts">
                    <h2><a href="/posts/edit/{{ p.getId() }}">{{ p.getTitle() }}</a></h2>
                    <small><a href="/posts/remove/{{ p.getId() }}">DELETAR</a></small> <br>
                    <small>Criado em {{ p.createdAt()|date("d/m/Y H:i:s") }}</small>
                    <p>
                        {{ p.getContent() }}
                    </p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
